@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7rw5fa');
  src:  url('fonts/icomoon.eot?7rw5fa#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7rw5fa') format('truetype'),
    url('fonts/icomoon.woff?7rw5fa') format('woff'),
    url('fonts/icomoon.svg?7rw5fa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus2:before {
  content: "\f067";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-check:before {
  content: "\f00c";
}
.icon-search-plus:before {
  content: "\f00e";
}
.icon-search-minus:before {
  content: "\f010";
}
.icon-power-off:before {
  content: "\f011";
}
.icon-cog2:before {
  content: "\f013";
}
.icon-gear:before {
  content: "\f013";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-download:before {
  content: "\f019";
}
.icon-flag2:before {
  content: "\f024";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-barcode2:before {
  content: "\f02a";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-circle:before {
  content: "\f055";
}
.icon-minus-circle:before {
  content: "\f056";
}
.icon-arrow-left3:before {
  content: "\f060";
}
.icon-arrow-right3:before {
  content: "\f061";
}
.icon-eye2:before {
  content: "\f06e";
}
.icon-eye-slash:before {
  content: "\f070";
}
.icon-plane:before {
  content: "\f072";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-thumbs-o-up:before {
  content: "\f087";
}
.icon-thumbs-o-down:before {
  content: "\f088";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-sign-in:before {
  content: "\f090";
}
.icon-upload:before {
  content: "\f093";
}
.icon-phone-square:before {
  content: "\f098";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-cut:before {
  content: "\f0c4";
}
.icon-scissors2:before {
  content: "\f0c4";
}
.icon-truck2:before {
  content: "\f0d1";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-folder-o:before {
  content: "\f114";
}
.icon-folder-open-o:before {
  content: "\f115";
}
.icon-smile-o:before {
  content: "\f118";
}
.icon-frown-o:before {
  content: "\f119";
}
.icon-meh-o:before {
  content: "\f11a";
}
.icon-gamepad:before {
  content: "\f11b";
}
.icon-flag-o:before {
  content: "\f11d";
}
.icon-flag-checkered:before {
  content: "\f11e";
}
.icon-calendar-o:before {
  content: "\f133";
}
.icon-female:before {
  content: "\f182";
}
.icon-male:before {
  content: "\f183";
}
.icon-child:before {
  content: "\f1ae";
}
.icon-paw:before {
  content: "\f1b0";
}
.icon-bicycle:before {
  content: "\f206";
}
.icon-bus:before {
  content: "\f207";
}
.icon-angellist:before {
  content: "\f209";
}
.icon-cart-plus:before {
  content: "\f217";
}
.icon-ship:before {
  content: "\f21a";
}
.icon-motorcycle:before {
  content: "\f21c";
}
.icon-hand-grab-o:before {
  content: "\f255";
}
.icon-hand-rock-o:before {
  content: "\f255";
}
.icon-hand-paper-o:before {
  content: "\f256";
}
.icon-hand-stop-o:before {
  content: "\f256";
}
.icon-hand-scissors-o:before {
  content: "\f257";
}
.icon-hand-lizard-o:before {
  content: "\f258";
}
.icon-hand-spock-o:before {
  content: "\f259";
}
.icon-hand-pointer-o:before {
  content: "\f25a";
}
.icon-hand-peace-o:before {
  content: "\f25b";
}
.icon-calendar-plus-o:before {
  content: "\f271";
}
.icon-calendar-minus-o:before {
  content: "\f272";
}
.icon-calendar-times-o:before {
  content: "\f273";
}
.icon-calendar-check-o:before {
  content: "\f274";
}
.icon-commenting-o:before {
  content: "\f27b";
}
.icon-credit-card-alt:before {
  content: "\f283";
}
.icon-fort-awesome:before {
  content: "\f286";
}
.icon-usb:before {
  content: "\f287";
}
.icon-american-sign-language-interpreting:before {
  content: "\f2a3";
}
.icon-asl-interpreting:before {
  content: "\f2a3";
}
.icon-address-book:before {
  content: "\f2b9";
}
.icon-user-circle:before {
  content: "\f2bd";
}
.icon-user-circle-o:before {
  content: "\f2be";
}
.icon-user-o:before {
  content: "\f2c0";
}
.icon-flag3:before {
  content: "\eb71";
}
.icon-flag4:before {
  content: "\eb72";
}
.icon-flag5:before {
  content: "\eb73";
}
.icon-flag6:before {
  content: "\eb74";
}
.icon-flag7:before {
  content: "\eb75";
}
.icon-flag8:before {
  content: "\eb76";
}
.icon-flag9:before {
  content: "\eb77";
}
.icon-flag10:before {
  content: "\eb78";
}
.icon-bookmark2:before {
  content: "\eb79";
}
.icon-bookmark3:before {
  content: "\eb7a";
}
.icon-star:before {
  content: "\e900";
}
.icon-star2:before {
  content: "\e901";
}
.icon-search2:before {
  content: "\eb7b";
}
.icon-search3:before {
  content: "\eb7c";
}
.icon-search-plus2:before {
  content: "\eb7d";
}
.icon-search-plus3:before {
  content: "\eb7e";
}
.icon-search-minus2:before {
  content: "\eb7f";
}
.icon-search-minus3:before {
  content: "\eb80";
}
.icon-lock2:before {
  content: "\eb81";
}
.icon-lock3:before {
  content: "\eb82";
}
.icon-lock-open:before {
  content: "\eb83";
}
.icon-lock-open2:before {
  content: "\eb84";
}
.icon-lock-open3:before {
  content: "\eb85";
}
.icon-lock-open4:before {
  content: "\eb86";
}
.icon-lock-stripes:before {
  content: "\eb87";
}
.icon-lock-stripes2:before {
  content: "\eb88";
}
.icon-lock-rounded:before {
  content: "\eb89";
}
.icon-lock-rounded2:before {
  content: "\eb8a";
}
.icon-lock-rounded-open:before {
  content: "\eb8b";
}
.icon-lock-rounded-open2:before {
  content: "\eb8c";
}
.icon-lock-rounded-open3:before {
  content: "\eb8d";
}
.icon-lock-rounded-open4:before {
  content: "\eb8e";
}
.icon-combination-lock:before {
  content: "\eb8f";
}
.icon-combination-lock2:before {
  content: "\eb90";
}
.icon-award:before {
  content: "\e902";
}
.icon-award2:before {
  content: "\e903";
}
.icon-award3:before {
  content: "\e904";
}
.icon-award4:before {
  content: "\e905";
}
.icon-award5:before {
  content: "\e906";
}
.icon-award6:before {
  content: "\e907";
}
.icon-medal:before {
  content: "\e908";
}
.icon-checkered-flag:before {
  content: "\eb91";
}
.icon-checkered-flag2:before {
  content: "\eb92";
}
.icon-sunglasses:before {
  content: "\e909";
}
.icon-sunglasses2:before {
  content: "\e90a";
}
.icon-stars:before {
  content: "\e90b";
}
.icon-stars2:before {
  content: "\e90c";
}
.icon-clouds:before {
  content: "\e90d";
}
.icon-flashed-face:before {
  content: "\e90e";
}
.icon-flashed-face2:before {
  content: "\e90f";
}
.icon-flashed-face3:before {
  content: "\e910";
}
.icon-flashed-face4:before {
  content: "\e911";
}
.icon-flashed-face-glasses:before {
  content: "\e912";
}
.icon-flashed-face-glasses2:before {
  content: "\e913";
}
.icon-face-missing-moth:before {
  content: "\e914";
}
.icon-face-missing-moth2:before {
  content: "\e915";
}
.icon-neutral-face:before {
  content: "\e916";
}
.icon-neutral-face2:before {
  content: "\e917";
}
.icon-smiling-face:before {
  content: "\e918";
}
.icon-sad-face:before {
  content: "\e919";
}
.icon-face-open-mouth:before {
  content: "\e91a";
}
.icon-face-open-mouth2:before {
  content: "\e91b";
}
.icon-winking-face:before {
  content: "\e91c";
}
.icon-laughing-face:before {
  content: "\e91d";
}
.icon-laughing-face2:before {
  content: "\e91e";
}
.icon-smirking-face:before {
  content: "\e91f";
}
.icon-stubborn-face:before {
  content: "\e920";
}
.icon-neutral-face3:before {
  content: "\e921";
}
.icon-sad-face2:before {
  content: "\e922";
}
.icon-smiling-face2:before {
  content: "\e923";
}
.icon-smiling-face-eyebrows:before {
  content: "\e924";
}
.icon-grinning-face-eyebrows:before {
  content: "\e925";
}
.icon-sad-face-eyebrows:before {
  content: "\e926";
}
.icon-neutral-face-eyebrows:before {
  content: "\e927";
}
.icon-angry-face:before {
  content: "\e928";
}
.icon-worried-face:before {
  content: "\e929";
}
.icon-winking-face2:before {
  content: "\e92a";
}
.icon-angry-face-eyebrows:before {
  content: "\e92b";
}
.icon-grinning-face:before {
  content: "\e92c";
}
.icon-sad-face3:before {
  content: "\e92d";
}
.icon-grinning-face-eyebrows2:before {
  content: "\e92e";
}
.icon-fake-grinning-face-eyebrows:before {
  content: "\e92f";
}
.icon-worried-face-eyebrows:before {
  content: "\e930";
}
.icon-face-stuck-out-tongue:before {
  content: "\e931";
}
.icon-face-stuck-out-tongue2:before {
  content: "\e932";
}
.icon-kissing-face:before {
  content: "\e933";
}
.icon-grinning-face-teeth:before {
  content: "\e934";
}
.icon-angry-face-teeth:before {
  content: "\e935";
}
.icon-worried-face-teeth:before {
  content: "\e936";
}
.icon-grinning-face-teeth2:before {
  content: "\e937";
}
.icon-face-open-mouth-eyebrows:before {
  content: "\e938";
}
.icon-face-open-mouth-eyebrows2:before {
  content: "\e939";
}
.icon-angry-face-open-mouth-eyebrows:before {
  content: "\e93a";
}
.icon-unamused-face-tightly-closed-eyes:before {
  content: "\e93b";
}
.icon-sad-face--tightly-closed-eyes:before {
  content: "\e93c";
}
.icon-kissing-face2:before {
  content: "\e93d";
}
.icon-face-closed-meyes:before {
  content: "\e93e";
}
.icon-amused-face:before {
  content: "\e93f";
}
.icon-amused-face-closed-eyes:before {
  content: "\e940";
}
.icon-amused-face-closed-eyes2:before {
  content: "\e941";
}
.icon-face-closed-eyes-open-mouth:before {
  content: "\e942";
}
.icon-face-closed-eyes-open-mouth2:before {
  content: "\e943";
}
.icon-face-closed-eyes-open-mouth3:before {
  content: "\e944";
}
.icon-face-closed-eyes-open-mouth4:before {
  content: "\e945";
}
.icon-face-closed-eyes-open-mouth5:before {
  content: "\e946";
}
.icon-face-closed-eyes-open-mouth6:before {
  content: "\e947";
}
.icon-laughing-face3:before {
  content: "\e948";
}
.icon-laughing-face4:before {
  content: "\e949";
}
.icon-smiling-face3:before {
  content: "\e94a";
}
.icon-smiling-face4:before {
  content: "\e94b";
}
.icon-grinning-face2:before {
  content: "\e94c";
}
.icon-grinning-face3:before {
  content: "\e94d";
}
.icon-sad-face4:before {
  content: "\e94e";
}
.icon-sad-face5:before {
  content: "\e94f";
}
.icon-sad-face6:before {
  content: "\e950";
}
.icon-sad-face7:before {
  content: "\e951";
}
.icon-sad-face-closed-eyes:before {
  content: "\e952";
}
.icon-sad-face-closed-eyes2:before {
  content: "\e953";
}
.icon-sad-face8:before {
  content: "\e954";
}
.icon-sad-face9:before {
  content: "\e955";
}
.icon-smiling-face5:before {
  content: "\e956";
}
.icon-smiling-face6:before {
  content: "\e957";
}
.icon-astonished-face:before {
  content: "\e958";
}
.icon-astonished-face2:before {
  content: "\e959";
}
.icon-astonished-face3:before {
  content: "\e95a";
}
.icon-astonished-face4:before {
  content: "\e95c";
}
.icon-face-moustache:before {
  content: "\e95d";
}
.icon-face-moustache2:before {
  content: "\e95e";
}
.icon-face-moustache3:before {
  content: "\e960";
}
.icon-face-moustache4:before {
  content: "\e961";
}
.icon-face-glasses:before {
  content: "\e962";
}
.icon-face-glasses2:before {
  content: "\e963";
}
.icon-face-sunglasses:before {
  content: "\e964";
}
.icon-face-sunglasses2:before {
  content: "\e965";
}
.icon-smirking-face-sunglasses:before {
  content: "\e966";
}
.icon-smirking-face-sunglasses2:before {
  content: "\e967";
}
.icon-middle-finger:before {
  content: "\e968";
}
.icon-middle-finger2:before {
  content: "\e969";
}
.icon-rock-n-roll:before {
  content: "\e96a";
}
.icon-rock-n-roll2:before {
  content: "\e96b";
}
.icon-high-five:before {
  content: "\e96c";
}
.icon-high-five2:before {
  content: "\e96d";
}
.icon-thumb-up:before {
  content: "\e96e";
}
.icon-thumb-up2:before {
  content: "\e96f";
}
.icon-thumb-down:before {
  content: "\e970";
}
.icon-thumb-down2:before {
  content: "\e971";
}
.icon-thumb-up3:before {
  content: "\e972";
}
.icon-thumb-up4:before {
  content: "\e973";
}
.icon-thumb-down3:before {
  content: "\e974";
}
.icon-thumb-down4:before {
  content: "\e975";
}
.icon-two-fingers-swipe-left:before {
  content: "\e976";
}
.icon-two-fingers-swipe-left2:before {
  content: "\e977";
}
.icon-two-fingers-swipe-right:before {
  content: "\e978";
}
.icon-two-fingers-swipe-right2:before {
  content: "\e979";
}
.icon-two-fingers-swipe-up:before {
  content: "\e97a";
}
.icon-two-fingers-swipe-up2:before {
  content: "\e97b";
}
.icon-document-file-pdf:before {
  content: "\e97c";
}
.icon-document-file-pdf2:before {
  content: "\e97d";
}
.icon-document-file-xls:before {
  content: "\e97e";
}
.icon-document-file-xls2:before {
  content: "\e97f";
}
.icon-document-file-docx:before {
  content: "\e980";
}
.icon-document-file-docx2:before {
  content: "\e981";
}
.icon-document-file-ppt:before {
  content: "\e982";
}
.icon-document-file-ppt2:before {
  content: "\e983";
}
.icon-document-file-txt:before {
  content: "\e984";
}
.icon-document-file-txt2:before {
  content: "\e985";
}
.icon-document-file-zip:before {
  content: "\e987";
}
.icon-document-file-zip2:before {
  content: "\e988";
}
.icon-airplane2:before {
  content: "\eb93";
}
.icon-apparel:before {
  content: "\eb94";
}
.icon-factory:before {
  content: "\eb95";
}
.icon-globe2:before {
  content: "\eb96";
}
.icon-home:before {
  content: "\e989";
}
.icon-home2:before {
  content: "\e98a";
}
.icon-home3:before {
  content: "\e98b";
}
.icon-office:before {
  content: "\e98c";
}
.icon-newspaper:before {
  content: "\e98d";
}
.icon-pencil:before {
  content: "\e98e";
}
.icon-pencil2:before {
  content: "\e98f";
}
.icon-quill:before {
  content: "\e990";
}
.icon-pen:before {
  content: "\e991";
}
.icon-blog:before {
  content: "\e992";
}
.icon-eyedropper:before {
  content: "\e993";
}
.icon-droplet:before {
  content: "\e997";
}
.icon-paint-format:before {
  content: "\e998";
}
.icon-image:before {
  content: "\e999";
}
.icon-images:before {
  content: "\e99a";
}
.icon-camera:before {
  content: "\e99b";
}
.icon-headphones:before {
  content: "\e99c";
}
.icon-music:before {
  content: "\e99d";
}
.icon-play:before {
  content: "\e99e";
}
.icon-film:before {
  content: "\e99f";
}
.icon-video-camera:before {
  content: "\e9a0";
}
.icon-dice:before {
  content: "\e9a1";
}
.icon-pacman:before {
  content: "\e9a3";
}
.icon-spades:before {
  content: "\e9a4";
}
.icon-clubs:before {
  content: "\e9a5";
}
.icon-diamonds:before {
  content: "\e9a6";
}
.icon-bullhorn:before {
  content: "\e9a7";
}
.icon-connection:before {
  content: "\e9a8";
}
.icon-podcast:before {
  content: "\e9a9";
}
.icon-feed:before {
  content: "\e9aa";
}
.icon-mic:before {
  content: "\e9ab";
}
.icon-book:before {
  content: "\e9ac";
}
.icon-books:before {
  content: "\e9ad";
}
.icon-library:before {
  content: "\e9b0";
}
.icon-file-text:before {
  content: "\e9b1";
}
.icon-profile:before {
  content: "\e9b3";
}
.icon-file-empty:before {
  content: "\e9b4";
}
.icon-files-empty:before {
  content: "\e9b6";
}
.icon-file-text2:before {
  content: "\e9b7";
}
.icon-file-picture:before {
  content: "\e9b8";
}
.icon-file-music:before {
  content: "\e9b9";
}
.icon-file-play:before {
  content: "\e9ba";
}
.icon-file-video:before {
  content: "\e9bc";
}
.icon-file-zip:before {
  content: "\e9bd";
}
.icon-copy:before {
  content: "\e9be";
}
.icon-paste:before {
  content: "\e9bf";
}
.icon-stack:before {
  content: "\e9c0";
}
.icon-folder:before {
  content: "\e9c1";
}
.icon-folder-open:before {
  content: "\e9c2";
}
.icon-folder-plus:before {
  content: "\e9c3";
}
.icon-folder-minus:before {
  content: "\e9c4";
}
.icon-folder-download:before {
  content: "\e9c5";
}
.icon-folder-upload:before {
  content: "\e9c7";
}
.icon-price-tag:before {
  content: "\e9c8";
}
.icon-price-tags:before {
  content: "\e9c9";
}
.icon-barcode:before {
  content: "\e9cb";
}
.icon-qrcode2:before {
  content: "\e9cc";
}
.icon-ticket:before {
  content: "\e9cd";
}
.icon-cart:before {
  content: "\e9cf";
}
.icon-coin-dollar:before {
  content: "\e9d0";
}
.icon-coin-euro:before {
  content: "\e9d1";
}
.icon-coin-pound:before {
  content: "\e9d2";
}
.icon-coin-yen:before {
  content: "\e9d3";
}
.icon-credit-card2:before {
  content: "\e9d4";
}
.icon-calculator:before {
  content: "\e9d5";
}
.icon-lifebuoy:before {
  content: "\e9d6";
}
.icon-phone:before {
  content: "\e9d7";
}
.icon-phone-hang-up:before {
  content: "\e9d8";
}
.icon-address-book2:before {
  content: "\e9d9";
}
.icon-envelop:before {
  content: "\e9da";
}
.icon-pushpin:before {
  content: "\e9db";
}
.icon-location:before {
  content: "\e9dc";
}
.icon-location2:before {
  content: "\e9dd";
}
.icon-compass:before {
  content: "\e9de";
}
.icon-compass2:before {
  content: "\e9df";
}
.icon-map:before {
  content: "\e9e0";
}
.icon-map2:before {
  content: "\e9e1";
}
.icon-history:before {
  content: "\e9e2";
}
.icon-clock:before {
  content: "\e9e3";
}
.icon-clock2:before {
  content: "\e9e4";
}
.icon-alarm:before {
  content: "\e9e5";
}
.icon-bell:before {
  content: "\e9e6";
}
.icon-stopwatch:before {
  content: "\e9e7";
}
.icon-calendar:before {
  content: "\e9e8";
}
.icon-printer:before {
  content: "\e9e9";
}
.icon-keyboard:before {
  content: "\e9ea";
}
.icon-display:before {
  content: "\e9eb";
}
.icon-laptop:before {
  content: "\e9ec";
}
.icon-mobile:before {
  content: "\e9ed";
}
.icon-mobile2:before {
  content: "\e9ee";
}
.icon-tablet:before {
  content: "\e9ef";
}
.icon-tv:before {
  content: "\e95b";
}
.icon-drawer:before {
  content: "\e9f0";
}
.icon-drawer2:before {
  content: "\e9f1";
}
.icon-box-add:before {
  content: "\e9f2";
}
.icon-box-remove:before {
  content: "\e95f";
}
.icon-download2:before {
  content: "\e9f3";
}
.icon-upload4:before {
  content: "\e9f4";
}
.icon-floppy-disk:before {
  content: "\e9f5";
}
.icon-drive:before {
  content: "\e9f6";
}
.icon-database:before {
  content: "\e9f7";
}
.icon-undo:before {
  content: "\e9f8";
}
.icon-redo:before {
  content: "\e9f9";
}
.icon-undo2:before {
  content: "\e9fa";
}
.icon-redo2:before {
  content: "\e9fb";
}
.icon-forward:before {
  content: "\e9fc";
}
.icon-reply:before {
  content: "\e9fd";
}
.icon-bubble:before {
  content: "\e9fe";
}
.icon-bubbles:before {
  content: "\e9ff";
}
.icon-bubbles2:before {
  content: "\ea00";
}
.icon-bubble2:before {
  content: "\ea01";
}
.icon-bubbles3:before {
  content: "\ea02";
}
.icon-bubbles4:before {
  content: "\ea03";
}
.icon-user:before {
  content: "\ea04";
}
.icon-users:before {
  content: "\ea05";
}
.icon-user-plus:before {
  content: "\ea06";
}
.icon-user-minus:before {
  content: "\ea07";
}
.icon-user-check:before {
  content: "\ea08";
}
.icon-user-tie:before {
  content: "\ea09";
}
.icon-quotes-left:before {
  content: "\ea0a";
}
.icon-quotes-right:before {
  content: "\ea0b";
}
.icon-hour-glass:before {
  content: "\ea0c";
}
.icon-spinner:before {
  content: "\ea0d";
}
.icon-spinner2:before {
  content: "\ea0e";
}
.icon-spinner3:before {
  content: "\ea0f";
}
.icon-spinner4:before {
  content: "\ea10";
}
.icon-spinner5:before {
  content: "\ea11";
}
.icon-spinner6:before {
  content: "\ea12";
}
.icon-spinner7:before {
  content: "\ea13";
}
.icon-spinner8:before {
  content: "\ea14";
}
.icon-spinner9:before {
  content: "\ea15";
}
.icon-spinner10:before {
  content: "\ea16";
}
.icon-spinner11:before {
  content: "\ea17";
}
.icon-binoculars:before {
  content: "\ea18";
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\ea19";
}
.icon-zoom-out:before {
  content: "\ea1a";
}
.icon-enlarge:before {
  content: "\ea1b";
}
.icon-shrink:before {
  content: "\ea1c";
}
.icon-enlarge2:before {
  content: "\ea1d";
}
.icon-shrink2:before {
  content: "\ea1e";
}
.icon-key:before {
  content: "\ea1f";
}
.icon-key2:before {
  content: "\ea20";
}
.icon-lock:before {
  content: "\ea21";
}
.icon-unlocked:before {
  content: "\ea22";
}
.icon-wrench:before {
  content: "\ea23";
}
.icon-equalizer:before {
  content: "\ea24";
}
.icon-equalizer2:before {
  content: "\ea25";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-hammer:before {
  content: "\e996";
}
.icon-magic-wand:before {
  content: "\ea26";
}
.icon-aid-kit:before {
  content: "\ea27";
}
.icon-bug:before {
  content: "\ea28";
}
.icon-pie-chart:before {
  content: "\ea29";
}
.icon-stats-dots:before {
  content: "\ea2a";
}
.icon-stats-bars:before {
  content: "\ea2b";
}
.icon-stats-bars2:before {
  content: "\ea2c";
}
.icon-trophy:before {
  content: "\ea2e";
}
.icon-gift:before {
  content: "\ea2f";
}
.icon-glass:before {
  content: "\ea30";
}
.icon-glass2:before {
  content: "\ea31";
}
.icon-mug:before {
  content: "\e9a2";
}
.icon-spoon-knife:before {
  content: "\ea33";
}
.icon-leaf:before {
  content: "\ea35";
}
.icon-rocket:before {
  content: "\ea37";
}
.icon-meter:before {
  content: "\ea39";
}
.icon-meter2:before {
  content: "\ea3a";
}
.icon-hammer2:before {
  content: "\ea3b";
}
.icon-fire:before {
  content: "\ea3d";
}
.icon-lab:before {
  content: "\ea3e";
}
.icon-magnet:before {
  content: "\ea3f";
}
.icon-bin:before {
  content: "\ea41";
}
.icon-bin2:before {
  content: "\ea43";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-airplane:before {
  content: "\e9af";
}
.icon-truck:before {
  content: "\ea44";
}
.icon-road:before {
  content: "\ea45";
}
.icon-accessibility:before {
  content: "\e9b2";
}
.icon-target:before {
  content: "\ea46";
}
.icon-shield:before {
  content: "\ea47";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-switch:before {
  content: "\ea48";
}
.icon-power-cord:before {
  content: "\ea49";
}
.icon-clipboard:before {
  content: "\ea4a";
}
.icon-list-numbered:before {
  content: "\ea4b";
}
.icon-list:before {
  content: "\ea4c";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-tree:before {
  content: "\ea4d";
}
.icon-menu:before {
  content: "\ea4e";
}
.icon-menu2:before {
  content: "\ea4f";
}
.icon-menu3:before {
  content: "\ea50";
}
.icon-menu4:before {
  content: "\ea51";
}
.icon-cloud:before {
  content: "\ea52";
}
.icon-cloud-download:before {
  content: "\ea53";
}
.icon-cloud-upload:before {
  content: "\ea54";
}
.icon-cloud-check:before {
  content: "\ea55";
}
.icon-download22:before {
  content: "\ea57";
}
.icon-upload2:before {
  content: "\e9c6";
}
.icon-download3:before {
  content: "\ea58";
}
.icon-upload3:before {
  content: "\ea59";
}
.icon-sphere:before {
  content: "\ea5a";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-link:before {
  content: "\ea5b";
}
.icon-flag:before {
  content: "\ea5c";
}
.icon-attachment:before {
  content: "\ea5d";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-plus:before {
  content: "\ea5e";
}
.icon-eye-minus:before {
  content: "\ea5f";
}
.icon-eye-blocked:before {
  content: "\ea60";
}
.icon-bookmark:before {
  content: "\ea61";
}
.icon-bookmarks:before {
  content: "\ea62";
}
.icon-sun:before {
  content: "\ea63";
}
.icon-contrast:before {
  content: "\ea64";
}
.icon-brightness-contrast:before {
  content: "\ea65";
}
.icon-star-empty:before {
  content: "\ea66";
}
.icon-star-half:before {
  content: "\ea67";
}
.icon-star-full:before {
  content: "\ea68";
}
.icon-heart:before {
  content: "\ea69";
}
.icon-heart-broken:before {
  content: "\ea6a";
}
.icon-man:before {
  content: "\ea6b";
}
.icon-woman:before {
  content: "\ea6c";
}
.icon-man-woman:before {
  content: "\ea6d";
}
.icon-happy:before {
  content: "\ea6e";
}
.icon-happy2:before {
  content: "\ea6f";
}
.icon-smile:before {
  content: "\ea70";
}
.icon-smile2:before {
  content: "\ea71";
}
.icon-tongue:before {
  content: "\ea72";
}
.icon-tongue2:before {
  content: "\ea73";
}
.icon-sad:before {
  content: "\ea74";
}
.icon-sad2:before {
  content: "\ea75";
}
.icon-wink:before {
  content: "\ea76";
}
.icon-wink2:before {
  content: "\ea77";
}
.icon-grin:before {
  content: "\ea78";
}
.icon-grin2:before {
  content: "\ea79";
}
.icon-cool:before {
  content: "\ea7a";
}
.icon-cool2:before {
  content: "\ea7b";
}
.icon-angry:before {
  content: "\ea7c";
}
.icon-angry2:before {
  content: "\ea7e";
}
.icon-evil:before {
  content: "\ea7f";
}
.icon-evil2:before {
  content: "\ea80";
}
.icon-shocked:before {
  content: "\ea81";
}
.icon-shocked2:before {
  content: "\ea82";
}
.icon-baffled:before {
  content: "\ea83";
}
.icon-baffled2:before {
  content: "\ea84";
}
.icon-confused:before {
  content: "\ea85";
}
.icon-confused2:before {
  content: "\ea86";
}
.icon-neutral:before {
  content: "\ea87";
}
.icon-neutral2:before {
  content: "\ea88";
}
.icon-hipster:before {
  content: "\ea89";
}
.icon-hipster2:before {
  content: "\ea8a";
}
.icon-wondering:before {
  content: "\ea8b";
}
.icon-wondering2:before {
  content: "\ea8c";
}
.icon-sleepy:before {
  content: "\ea8d";
}
.icon-sleepy2:before {
  content: "\ea8e";
}
.icon-frustrated:before {
  content: "\ea8f";
}
.icon-frustrated2:before {
  content: "\ea90";
}
.icon-crying:before {
  content: "\ea91";
}
.icon-crying2:before {
  content: "\ea92";
}
.icon-point-up:before {
  content: "\ea93";
}
.icon-point-right:before {
  content: "\ea94";
}
.icon-point-down:before {
  content: "\ea95";
}
.icon-point-left:before {
  content: "\ea96";
}
.icon-warning:before {
  content: "\ea97";
}
.icon-notification:before {
  content: "\ea98";
}
.icon-question:before {
  content: "\ea99";
}
.icon-plus:before {
  content: "\ea9a";
}
.icon-minus:before {
  content: "\ea9b";
}
.icon-info:before {
  content: "\ea9c";
}
.icon-cancel-circle:before {
  content: "\ea9d";
}
.icon-blocked:before {
  content: "\ea9e";
}
.icon-cross:before {
  content: "\ea9f";
}
.icon-checkmark:before {
  content: "\eaa0";
}
.icon-checkmark2:before {
  content: "\eaa1";
}
.icon-spell-check:before {
  content: "\eaa2";
}
.icon-enter:before {
  content: "\eaa3";
}
.icon-exit:before {
  content: "\eaa4";
}
.icon-play2:before {
  content: "\eaa5";
}
.icon-pause:before {
  content: "\eaa6";
}
.icon-stop:before {
  content: "\eaa7";
}
.icon-previous:before {
  content: "\eaa8";
}
.icon-next:before {
  content: "\eaa9";
}
.icon-backward:before {
  content: "\eaaa";
}
.icon-forward2:before {
  content: "\eaab";
}
.icon-play3:before {
  content: "\eaac";
}
.icon-pause2:before {
  content: "\eaad";
}
.icon-stop2:before {
  content: "\eaaf";
}
.icon-backward2:before {
  content: "\eab0";
}
.icon-forward3:before {
  content: "\eab1";
}
.icon-first:before {
  content: "\eab2";
}
.icon-last:before {
  content: "\eab3";
}
.icon-previous2:before {
  content: "\eab4";
}
.icon-next2:before {
  content: "\eab5";
}
.icon-eject:before {
  content: "\eab6";
}
.icon-volume-high:before {
  content: "\eab7";
}
.icon-volume-medium:before {
  content: "\eab8";
}
.icon-volume-low:before {
  content: "\eab9";
}
.icon-volume-mute:before {
  content: "\eaba";
}
.icon-volume-mute2:before {
  content: "\eabb";
}
.icon-volume-increase:before {
  content: "\eabc";
}
.icon-volume-decrease:before {
  content: "\eabd";
}
.icon-loop:before {
  content: "\ea2d";
}
.icon-loop2:before {
  content: "\eabe";
}
.icon-infinite:before {
  content: "\eabf";
}
.icon-shuffle:before {
  content: "\eac0";
}
.icon-arrow-up-left:before {
  content: "\eac1";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-up-right:before {
  content: "\eac2";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-down-right:before {
  content: "\eac3";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-arrow-down-left:before {
  content: "\eac4";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-arrow-up-left2:before {
  content: "\eac5";
}
.icon-arrow-up2:before {
  content: "\eac6";
}
.icon-arrow-up-right2:before {
  content: "\eac7";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down-right2:before {
  content: "\eac8";
}
.icon-arrow-down2:before {
  content: "\eac9";
}
.icon-arrow-down-left2:before {
  content: "\eaca";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-circle-up:before {
  content: "\eacb";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\eacc";
}
.icon-circle-left:before {
  content: "\eacd";
}
.icon-tab:before {
  content: "\eace";
}
.icon-move-up:before {
  content: "\eacf";
}
.icon-move-down:before {
  content: "\ead0";
}
.icon-sort-alpha-asc:before {
  content: "\ead1";
}
.icon-sort-alpha-desc:before {
  content: "\ead2";
}
.icon-sort-numeric-asc:before {
  content: "\ead3";
}
.icon-sort-numberic-desc:before {
  content: "\ead4";
}
.icon-sort-amount-asc:before {
  content: "\ead5";
}
.icon-sort-amount-desc:before {
  content: "\ead6";
}
.icon-command:before {
  content: "\ead7";
}
.icon-shift:before {
  content: "\ead8";
}
.icon-ctrl:before {
  content: "\ead9";
}
.icon-opt:before {
  content: "\eada";
}
.icon-checkbox-checked:before {
  content: "\eadb";
}
.icon-checkbox-unchecked:before {
  content: "\eadc";
}
.icon-radio-checked:before {
  content: "\eadd";
}
.icon-radio-checked2:before {
  content: "\eade";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-crop:before {
  content: "\eae0";
}
.icon-make-group:before {
  content: "\eae1";
}
.icon-ungroup:before {
  content: "\eae2";
}
.icon-scissors:before {
  content: "\eae3";
}
.icon-filter:before {
  content: "\eae4";
}
.icon-font:before {
  content: "\eae5";
}
.icon-ligature:before {
  content: "\eae6";
}
.icon-ligature2:before {
  content: "\eae7";
}
.icon-text-height:before {
  content: "\eae9";
}
.icon-text-width:before {
  content: "\eaea";
}
.icon-font-size:before {
  content: "\eaeb";
}
.icon-bold:before {
  content: "\eaec";
}
.icon-underline:before {
  content: "\eaed";
}
.icon-italic:before {
  content: "\eaee";
}
.icon-strikethrough:before {
  content: "\eaef";
}
.icon-omega:before {
  content: "\eaf0";
}
.icon-sigma:before {
  content: "\eaf1";
}
.icon-page-break:before {
  content: "\eaf2";
}
.icon-superscript:before {
  content: "\eaf3";
}
.icon-subscript:before {
  content: "\eaf4";
}
.icon-superscript2:before {
  content: "\eaf5";
}
.icon-subscript2:before {
  content: "\eaf6";
}
.icon-text-color:before {
  content: "\eaf7";
}
.icon-pagebreak:before {
  content: "\eaf8";
}
.icon-clear-formatting:before {
  content: "\eaf9";
}
.icon-table:before {
  content: "\eafa";
}
.icon-table2:before {
  content: "\eafb";
}
.icon-insert-template:before {
  content: "\eafc";
}
.icon-pilcrow:before {
  content: "\eafd";
}
.icon-ltr:before {
  content: "\eafe";
}
.icon-rtl:before {
  content: "\eaff";
}
.icon-section:before {
  content: "\eb00";
}
.icon-paragraph-left:before {
  content: "\eb01";
}
.icon-paragraph-center:before {
  content: "\eb02";
}
.icon-paragraph-right:before {
  content: "\eb03";
}
.icon-paragraph-justify:before {
  content: "\eb04";
}
.icon-indent-increase:before {
  content: "\eb05";
}
.icon-indent-decrease:before {
  content: "\eb06";
}
.icon-share:before {
  content: "\ea7d";
}
.icon-new-tab:before {
  content: "\eb07";
}
.icon-embed:before {
  content: "\eb08";
}
.icon-embed2:before {
  content: "\eb09";
}
.icon-terminal:before {
  content: "\eb0a";
}
.icon-share2:before {
  content: "\eb0b";
}
.icon-mail:before {
  content: "\eb0c";
}
.icon-mail2:before {
  content: "\eb0d";
}
.icon-mail3:before {
  content: "\eb0e";
}
.icon-mail4:before {
  content: "\eb0f";
}
.icon-amazon:before {
  content: "\eb10";
}
.icon-google:before {
  content: "\eb11";
}
.icon-google2:before {
  content: "\eb12";
}
.icon-google3:before {
  content: "\eb13";
}
.icon-google-plus:before {
  content: "\eb14";
}
.icon-google-plus2:before {
  content: "\eb15";
}
.icon-google-plus3:before {
  content: "\eb16";
}
.icon-hangouts:before {
  content: "\eb17";
}
.icon-google-drive:before {
  content: "\eb18";
}
.icon-facebook:before {
  content: "\eb19";
}
.icon-facebook2:before {
  content: "\eb1a";
}
.icon-instagram:before {
  content: "\eb1b";
}
.icon-whatsapp:before {
  content: "\eb1c";
}
.icon-spotify:before {
  content: "\eb1d";
}
.icon-telegram:before {
  content: "\eb1e";
}
.icon-twitter:before {
  content: "\eb1f";
}
.icon-vine:before {
  content: "\eb20";
}
.icon-vk:before {
  content: "\eb21";
}
.icon-renren:before {
  content: "\eb22";
}
.icon-sina-weibo:before {
  content: "\eb23";
}
.icon-rss:before {
  content: "\eb24";
}
.icon-rss2:before {
  content: "\eb25";
}
.icon-youtube:before {
  content: "\eb26";
}
.icon-youtube2:before {
  content: "\eb27";
}
.icon-twitch:before {
  content: "\eb28";
}
.icon-vimeo:before {
  content: "\eb29";
}
.icon-vimeo2:before {
  content: "\eb2a";
}
.icon-lanyrd:before {
  content: "\eb2b";
}
.icon-flickr:before {
  content: "\eb2c";
}
.icon-flickr2:before {
  content: "\eb2d";
}
.icon-flickr3:before {
  content: "\eb2e";
}
.icon-flickr4:before {
  content: "\eb2f";
}
.icon-dribbble:before {
  content: "\eb30";
}
.icon-behance:before {
  content: "\eb31";
}
.icon-behance2:before {
  content: "\eb32";
}
.icon-deviantart:before {
  content: "\eb33";
}
.icon-500px:before {
  content: "\eb34";
}
.icon-steam:before {
  content: "\eb35";
}
.icon-steam2:before {
  content: "\eb36";
}
.icon-dropbox:before {
  content: "\eaae";
}
.icon-onedrive:before {
  content: "\eb37";
}
.icon-github:before {
  content: "\eb38";
}
.icon-npm:before {
  content: "\eb39";
}
.icon-basecamp:before {
  content: "\eb3a";
}
.icon-trello:before {
  content: "\eb3b";
}
.icon-wordpress:before {
  content: "\eb3c";
}
.icon-joomla:before {
  content: "\eb3d";
}
.icon-ello:before {
  content: "\eb3e";
}
.icon-blogger:before {
  content: "\eb3f";
}
.icon-blogger2:before {
  content: "\eb40";
}
.icon-tumblr:before {
  content: "\eb41";
}
.icon-tumblr2:before {
  content: "\eb42";
}
.icon-yahoo:before {
  content: "\eb43";
}
.icon-yahoo2:before {
  content: "\eb44";
}
.icon-tux:before {
  content: "\eb45";
}
.icon-appleinc:before {
  content: "\eb46";
}
.icon-finder:before {
  content: "\eb47";
}
.icon-android:before {
  content: "\eb48";
}
.icon-windows:before {
  content: "\eb49";
}
.icon-windows8:before {
  content: "\eb4a";
}
.icon-soundcloud:before {
  content: "\eb4b";
}
.icon-soundcloud2:before {
  content: "\eb4c";
}
.icon-skype:before {
  content: "\eb4d";
}
.icon-reddit:before {
  content: "\eb4e";
}
.icon-hackernews:before {
  content: "\eb4f";
}
.icon-wikipedia:before {
  content: "\eb50";
}
.icon-linkedin:before {
  content: "\eb51";
}
.icon-linkedin2:before {
  content: "\eb52";
}
.icon-lastfm:before {
  content: "\eb53";
}
.icon-lastfm2:before {
  content: "\eb54";
}
.icon-delicious:before {
  content: "\eb55";
}
.icon-stumbleupon:before {
  content: "\eb56";
}
.icon-stumbleupon2:before {
  content: "\eb57";
}
.icon-stackoverflow:before {
  content: "\eb58";
}
.icon-pinterest:before {
  content: "\eb59";
}
.icon-pinterest2:before {
  content: "\eb5a";
}
.icon-xing:before {
  content: "\eb5b";
}
.icon-xing2:before {
  content: "\eb5c";
}
.icon-flattr:before {
  content: "\eb5d";
}
.icon-foursquare:before {
  content: "\eb5e";
}
.icon-yelp:before {
  content: "\eb5f";
}
.icon-paypal:before {
  content: "\eb60";
}
.icon-chrome:before {
  content: "\eb61";
}
.icon-firefox:before {
  content: "\eb62";
}
.icon-IE:before {
  content: "\eb63";
}
.icon-edge:before {
  content: "\eb64";
}
.icon-safari:before {
  content: "\eb65";
}
.icon-opera:before {
  content: "\eb66";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-file-openoffice:before {
  content: "\eb67";
}
.icon-file-word:before {
  content: "\eb68";
}
.icon-file-excel:before {
  content: "\eb69";
}
.icon-libreoffice:before {
  content: "\eb6a";
}
.icon-html-five:before {
  content: "\eb6b";
}
.icon-html-five2:before {
  content: "\eb6c";
}
.icon-css3:before {
  content: "\eb6d";
}
.icon-git:before {
  content: "\eb6e";
}
.icon-codepen:before {
  content: "\eae8";
}
.icon-svg:before {
  content: "\eb6f";
}
.icon-IcoMoon:before {
  content: "\eb70";
}
