@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300i,400,400i,500,500i,600,600i,700,700i,800,800i,900');

body{
	/*background-color: yellow;*/
margin:0;
padding: 0;
font-family: 'Fira Sans', sans-serif;
font-size: 12px;

}


#pagina{
	width: 100%;
	min-height: 100vh;
	display: flex;
	background: url("../img/1.png");
}


#contenedor_main{
	background-color: rgba(255,255,255,.7);
	width: calc(100% - 240px);
	margin-left: 120px;
	margin-right: 120px;
	padding: 50px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.titulo_seccion{

	width: 100%;
	height: 40px;
	/*background-color: orange;*/
	padding-top: 20px;
	font-weight: bold;
	font-size: 16px;
	color: #FF530D;
	margin-bottom: 20px;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;


}

.btn_pu_parametros{
	background-color: #FF530D;
	color: #fff;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 50px;
	height: 30px;
	border-radius: 15px;
	text-align: center;
	cursor: pointer;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: center;
    -ms-flex-pack: justify;
    justify-content: center;

	-webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

}

/************************************/
/*			Seccion usuarios		*/
/************************************/ 


			.invd_tabla{
				width: 100%;
				border-collapse: collapse; 
				text-align: left;
				font-size: 12px;
			}

			.invd_tabla td,th { 
				padding: 12px 10px;
				text-align: center; }
			.invd_tabla th{
				background-color: rgba(0,0,0,.1);
				font-size: 18px;

			}
			.invd_tabla td{
				font-size: 14px;
			}



/** botones**/

/**/




/******** parametros de juego **********/

.listado_contenedor{
	background-color: #fff;
	border-radius: 15px;
	padding: 20px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.parametro_contenedor{
 	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.parametro{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 150px;
	height: 150px;
	text-align: center;
	background-color: #fff;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 15px;
	padding-top: 15px;
}
.p_nombre{
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.p_valor{
	margin-top: 10px;
	width: 100%;
	text-align: center;
	font-size: 38px;
	font-weight: bold;
	color: #FF530D;
}

